<%- include("header"); -%>

    <body>
        <div class="box" id="heading">
            <h1>
                <!-- Change the title -->
                <%= listTitle %>
            </h1>
        </div>

        <div class="box">
            <!-- newListItems it is the key that contains the value of 'inputs'  -->
            <% for(let i =0; i<newListItems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newListItems[i]  %>
                    </p>
                </div>
                <% } %>




                    <form class="item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="NEW ITEM" autocomplete="off">
                        <button type="submit" name="list" value="<%= listTitle %>">
                    +</button>

                    </form>

                    <form class="item" action="/deleteItem" method="post">
                        <button id="deleteButton" type="submit" name="list" value="<%= listTitle %>">-</button>
                    </form>
        </div>

    </body>

    <%- include("footer"); -%>